<nav class="navbar">
  <ul class="navbar__list">
    <li *ngFor="let item of navItems" class="navbar__item" [ngClass]="{ 'navbar__item--active': getActive(item.route) }">
      <a [routerLink]="item.route" class="navbar__link">
        <span class="navbar__icon">
          <img 
            [src]="'assets/img/' + item.icon + (getActive(item.route) ? '_active.png' : '.png')"
            [alt]="item.label" />
        </span>
        <span class="navbar__label">{{ item.label }}</span>
      </a>
    </li>
  </ul>
</nav>
