@use 'fonts.scss' as *;

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  padding-top: 72px; // Platz für Header (MOBILE)
  padding-bottom: 72px; // Platz für Navbar (MOBILE)
  box-sizing: border-box;
  
  // Desktop: Sidebar-Layout
  @media (min-width: 1024px) {
    padding-bottom: 0; // Keine Bottom-Navbar auf Desktop
    padding-left: 240px; // Platz für Sidebar (240px Breite)
  }
}
